#hinter, #tooltip {
    pointer-events : none;
    position       : fixed;
    z-index        : 99999;
    animation      : fadein 0.2s ease-in alternate;
}

#hinter:empty, #tooltip:empty {
    display : none;
}

#img, #mail, #tooltip {
    border : solid 2px #1e1e1e;
}

/* --- mail ----------------------------------------- */

#mail .im_log_t {
    width      : 472px;
    display    : block;
    background : #ffffff;
    padding    : 0 5px 5px 5px;
}

#mail .im_gift,
#mail .im_gift_row {
    float  : left;
    width  : 72px;
    height : 72px;
}

#mail .im_gift_row {
    margin : 5px auto;
}

#mail .im_gift_msg .im_msg_text {
    float      : right;
    width      : 256px;
    margin-top : 5px;
}

#mail .im_log_act,
#mail .im_log_rspacer {
    display : none;
}

#mail.expected .im_out:first-child .im_date_link {
    color : #ff2d23;
}

/* --- Tooltip -------------------------------------- */

#tooltip {
    opacity  : 0.9;
    overflow : hidden;
}

#tooltip .pv_comment {
    padding : 8px;
    width   : 394px;
}

#tooltip .reply {
    padding : 8px;
    width   : 394px;
    margin  : 2px 0;
}

#tooltip .wall_module {
    padding          : 0;
    background-color : #1e1e1e;
}

#tooltip .wall_module:empty {
    display : none;
}

#tooltip .pv_title {
    width            : auto;
    min-width        : 196px;
    max-width        : 394px;
    color            : #ffc9a4;
    background-color : #4e729a;
    padding          : 8px;
    font-size        : 110%;
    font-weight      : bolder;
    overflow         : hidden;
    text-overflow    : ellipsis;
}

#tooltip .pv_title:empty,
#tooltip .like_link {
    display : none;
}
